{% extends "realtor/base.html" %}
{% load static %}
{% block content %}
<style>
    .buttons {
width: 100px;
margin: 0 auto;
display: inline;}

    .action_btn {
width: 100px;
margin: 0 auto;
display: inline;}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Featured listings </h1>
            <div class="column">
                {% for property in listing %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="listing-image">
                                <img src="{{ property.propertyImage.url }}" alt="property image" class="w-100" />
                            </div>
                            <span class="" style="font-size: 15px"><b>Name:</b> {{ property.propertyName }}</span><br>
                            <span class="" style="font-size: 15px"><b>Description:</b> {{ property.propertyDescription }}</span><br>
                            <span class="" style="font-size: 15px"><b>Neighborhood:</b>{{ property.propertyNeighborhood }}</span><br>
                            <span class="" style="font-size: 15px"><b>ZipCode:</b>{{ property.propertyZipCode }}</span><br>
                                <span class="" style="font-size: 15px"><b>Price:</b>{{ property.propertyPrice }}</span><br>
                            <span class="" style="font-size: 15px"><b>FeaturedProperty:</b>{{ property.featuredProperty }}</span><br>
                            <a href="{% url 'realtor-update-property' property.id %}">Update</a>
                            <a href="{% url 'realtor-delete-property' property.id %}">Delete</a>
                        </div>

        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}