{% extends "realtor/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>This page contains listings information</h1>
            <div class="row">
                {% for property in listing %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="listing-image">
                                <img src="{{ property.propertyImage.url }}" alt="property image" class="w-100" />
                            </div>
                            <span class="" style="font-size: 15px"><b>Name:</b> {{ property.propertyName }}</span><br>
                            <span class="" style="font-size: 15px"><b>Description:</b> {{ property.propertyDescription }}</span><br>
                            <span class="" style="font-size: 15px"><b>Neighborhood:</b>{{ property.propertyNeighborhood }}</span><br>
                            <span class="" style="font-size: 15px"><b>ZipCode:</b>{{ property.propertyZipCode }}</span><br>
                            <span class="" style="font-size: 15px"><b>Price:</b>{{ property.propertyPrice }}</span><br>
                            <a  href="{% url 'realtor-update-property' property.id %}">update</a>
                            <a  href="{% url 'realtor-delete-property' property.id %}">delete</a>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}